@import url('https://fonts.googleapis.com/css?family=Economica:400,700|Fjalla+One|Pacifico');

* {
	padding:0;
	margin:0;
	border:0;
}

body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.logo {
	padding: 6px;
	font-family: 'Economica', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	text-transform: uppercase;
	border: 1px solid #fff;
	transition: 0.2s ease-in-out;
}

.logo:hover {

	opacity: 0.7;
}

ul.top-nav {
	list-style: none;
	display: flex;

}

ul.top-nav li {
	padding: 5px;
	margin-right: 10px;
}

ul.top-nav li a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Economica', sans-serif;
	font-size: 25px;
	transition: 0.3s ease-in-out;
}

ul.top-nav li a:hover {
	opacity: 0.6;
	filter: blur(0.5px);
	}

footer .footer-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	/* FORM */

	.content {
		padding: 30px 0px 0px 0px;
		margin:0;
	}

form { margin:0; }
form input {
	background-color: transparent;
	color: white;
		
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Economica', sans-serif;
	letter-spacing: 2px;
	padding: 0px 0px 0px 10px;
	border: 2px solid rgba(255,255,255,0.6);
	height: 40px;
	min-width: 400px;
	margin: 20px;
}

form input:hover, form input:focus {

	border: 2px solid rgba(255,255,255,1.0);
}



form textarea {
	background-color: transparent;
	color: white;
	font-family: 'Economica', sans-serif;
	letter-spacing: 2px;
	border: 2px solid rgba(255,255,255,0.6);
	text-transform: uppercase;
	padding: 10px 0px 0px 10px;
	font-size: 15px;
	height: 200px;
	min-width: 400px;
	margin: 20px;
}

form textarea:hover {
	border: 2px solid rgba(255,255,255,1.0);
}

input.button { 
	
	border: 2px solid rgba(255,255,255,0.6);
	width: 410px;
	transition: 0.2s;
 }

 input.button:hover { 
	
	border: 2px solid rgba(255,255,255,0.6);
	background-color: white;
	color: purple;
	cursor: pointer;
	font-weight: 700;
	transition: 0.2s;
 }

 .copy {
 	text-align: center;
 	width: 100%;
 	color: #FFFFFF;
	font-family: 'Economica', sans-serif;
	position: fixed;
	bottom: 0px;
	margin-top: 20px;
 }

 p.sent {
 	text-align: center;
 	width: 100%;
 	color: #fff;
 	font-size: 40px;
 	font-family: 'Economica', sans-serif;
 }